# NYC Restaurant Health Inspection Data Cleaning

## 1. Import Libraries

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import warnings

warnings.filterwarnings('ignore')
plt.style.use('seaborn-v0_8-darkgrid')

# Set display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
pd.set_option('display.width', None)

## 2. Load Dataset

In [13]:
# Load the dataset
file_path = '../data/DOHMH_New_York_City_Restaurant_Inspection_Results_20251105.csv'
df = pd.read_csv(file_path, low_memory=False)

print(df.info())
print(df.describe())
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291489 entries, 0 to 291488
Data columns (total 27 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   CAMIS                  291489 non-null  int64
 1   DBA                    291486 non-null  object
 2   BORO                   291489 non-null  object
 3   BUILDING               290634 non-null  object
 4   STREET                 291478 non-null  object
 5   ZIPCODE                288351 non-null  float64
 6   PHONE                  291482 non-null  object
 7   CUISINE DESCRIPTION    287573 non-null  object
 8   INSPECTION DATE        291489 non-null  object
 9   ACTION                 287573 non-null  object
 10  VIOLATION CODE         285271 non-null  object
 11  VIOLATION DESCRIPTION  285271 non-null  object
 12  CRITICAL FLAG          291489 non-null  object
 13  SCORE                  275118 non-null  float64
 14  GRADE                  142269 non-null  object
 15  GRADE DATE             134579 non-null  object
 16  RECORD DATE            291489 non-null  object
 17  INSPECTION TYPE        287573 non-null  object
 18  Latitude               290959 non-null  float64
 19  Longitude              290959 non-null  float64
 20  Community Board        287397 non-null  float64
 21  Council District       287405 non-null  float64
 22  Census Tract           287405 non-null  float64
 23  BIN                    285966 non-null  float64
 24  BBL                    290357 non-null  float64
 25  NTA                    287397 non-null  object
 26  Location               287999 non-null  object
dtypes: float64(9), int64(1), object(17)
memory usage: 60.0+ MB
None
              CAMIS        ZIPCODE          SCORE       Latitude  \
count  2.914890e+05  288351.000000  275118.000000  290959.000000
mean   4.797824e+07   10705.699713      25.019083      40.313654
std    3.805962e+06     595.257915      18.770936       4.087549
min    3.007544e+07    6605.000000       0.000000       0.000000
25%    5.000197e+07   10023.000000      12.000000      40.685946
50%    5.008772e+07   11101.000000      21.000000      40.732614
75%    5.012594e+07   11232.000000      33.000000      40.761305
max    5.017867e+07   28217.000000     203.000000      40.912822

           Longitude  Community Board  Council District   Census Tract  \
count  290959.000000    287397.000000     287405.000000  287405.000000
mean      -73.188425       254.769232         20.614871   29835.031621
std         7.420211       130.360991         15.712561   31249.346561
min       -74.249101       101.000000          1.000000     100.000000
25%       -73.988695       106.000000          4.000000    8000.000000
50%       -73.956030       302.000000         20.000000   17300.000000
75%       -73.894174       401.000000         34.000000   42400.000000
max         0.000000       595.000000         51.000000  162100.000000

                BIN           BBL
count  2.859660e+05  2.903570e+05
mean   2.581585e+06  2.474782e+09
std    1.353969e+06  1.338057e+09
min    1.000000e+06  1.000000e+00
25%    1.051462e+06  1.011150e+09
50%    3.020923e+06  3.007830e+09
75%    4.010732e+06  4.006210e+09
max    5.799501e+06  5.270001e+09
CAMIS                         0
DBA                           3
BORO                          0
BUILDING                    855
STREET                       11
ZIPCODE                    3138
PHONE                         7
CUISINE DESCRIPTION        3916
INSPECTION DATE               0
ACTION                     3916
VIOLATION CODE             6218
VIOLATION DESCRIPTION      6218
CRITICAL FLAG                 0
SCORE                     16371
GRADE                    149220
GRADE DATE               156910
RECORD DATE                   0
INSPECTION TYPE            3916
Latitude                    530
Longitude                   530
Community Board            4092
Council District           4084
Census Tract               4084
BIN                        5523
BBL                        1132
NTA                        4092
Location                   3490
dtype: int64

# 3. Explore Dataset

In [14]:
df.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location
0,50171397,COLD STONE CREAMERY,Queens,21265,26TH AVE,11360.0,5166953486,NaN,01/01/1900,NaN,NaN,NaN,Not Applicable,NaN,NaN,NaN,11/05/2025,NaN,40.778312,-73.777143,407.0,19.0,99704.0,4537937.0,4.059000e+09,QN47,POINT (-73.777142711788 40.778311801336)
1,50172126,ARK BAGELS,Manhattan,110,8 AVENUE,10011.0,3322050594,NaN,01/01/1900,NaN,NaN,NaN,Not Applicable,NaN,NaN,NaN,11/05/2025,NaN,40.740725,-74.001797,104.0,3.0,8100.0,1081538.0,1.007650e+09,MN13,POINT (-74.001797118593 40.740724556829)
2,50177069,CORNER BAR/SWAN ROOM,Manhattan,54-60,CANAL ST,10002.0,2106675921,NaN,01/01/1900,NaN,NaN,NaN,Not Applicable,NaN,NaN,NaN,11/05/2025,NaN,40.714904,-73.991970,103.0,1.0,1600.0,1003795.0,1.002940e+09,MN27,POINT (-73.991970220231 40.714904277236)
3,50143055,REN RESTAURANT,Brooklyn,1571,MCDONALD AVENUE,11230.0,9174561077,NaN,01/01/1900,NaN,NaN,NaN,Not Applicable,NaN,NaN,NaN,11/05/2025,NaN,40.614775,-73.974124,312.0,44.0,44600.0,3172689.0,3.065640e+09,BK88,POINT (-73.974124404003 40.614774895155)
4,50122424,ADMIRAL'S CLUB,Queens,NaN,TERMINAL B,11371.0,7184065129,NaN,01/01/1900,NaN,NaN,NaN,Not Applicable,NaN,NaN,NaN,11/05/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 4. Initial Filtering

Based on the dataset dictionary, we will:
1. **Drop unnecessary columns** not relevant to grade prediction
2. **Remove placeholder inspection dates** (01/01/1900)
3. **Keep only Cycle Inspections** - these are the regular health inspections that result in grades (A/B/C). Other inspection types (Smoke-Free Air Act, Inter-Agency Task Force, etc.) don't produce health grades.

In [ ]:
df_copy = df.copy()

# Drop unnecessary columns
drop_columns = ['PHONE', 'ACTION', 'RECORD DATE', 'Community Board', 'Council District', 
                'Census Tract', 'BIN', 'BBL', 'NTA', 'Location', 'Latitude', 'Longitude']
df_copy = df_copy.drop(columns=drop_columns)

print(f"Original shape: {df_copy.shape}")

# Remove placeholder inspection dates
drop_rows = df_copy[df_copy['INSPECTION DATE'] == '01/01/1900'].index
df_copy = df_copy.drop(index=drop_rows)
print(f"After removing placeholder dates: {df_copy.shape} (removed {len(drop_rows):,})")

# Keep only Cycle Inspections (the only ones that produce health grades)
before_count = len(df_copy)
df_copy = df_copy[df_copy['INSPECTION TYPE'].str.contains('Cycle Inspection', case=False, na=False)]
print(f"After filtering to Cycle Inspections only: {df_copy.shape} (removed {before_count - len(df_copy):,})")

df_copy.head()

Original shape: (291489, 15)
After removing placeholder dates: (287573, 15) (removed 3,916)
After filtering to Cycle Inspections only: (217809, 15) (removed 69,764)

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,CUISINE DESCRIPTION,INSPECTION DATE,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,INSPECTION TYPE
6,50075461,POPEYES,Manhattan,2300,ADAM CLAYTON POWELL JR BOULEVARD,NaN,Chicken,04/30/2024,09B,Thawing procedure improper.,Not Critical,22.0,NaN,NaN,Cycle Inspection / Initial Inspection
10,50000919,PANKO EXPRESS,Brooklyn,7802,FLATLANDS AVENUE,11236.0,Chinese,05/03/2024,09B,Thawing procedure improper.,Not Critical,12.0,A,05/03/2024,Cycle Inspection / Re-inspection
19,50063129,PUBLIC ARTS,Manhattan,215,CHRYSTIE ST/PUBLIC KITCHEN,NaN,American,06/24/2019,04A,Food Protection Certificate not held by superv...,Critical,10.0,A,06/24/2019,Cycle Inspection / Initial Inspection
20,50116166,GRAND STREET PIZZA,Manhattan,384,GRAND STREET,10002.0,Pizza,05/30/2023,NaN,NaN,Not Applicable,0.0,NaN,NaN,Cycle Inspection / Initial Inspection
33,40958170,SOHO HOUSE,Manhattan,2935,9 AVENUE,NaN,American,04/21/2023,08A,Establishment is not free of harborage or cond...,Not Critical,20.0,NaN,NaN,Cycle Inspection / Initial Inspection

# 5. Converting Data Types

In [16]:
# Convert date columns to datetime
df_copy['INSPECTION DATE'] = pd.to_datetime(df_copy['INSPECTION DATE'], format='%m/%d/%Y')
df_copy['GRADE DATE'] = pd.to_datetime(df_copy['GRADE DATE'], format='%m/%d/%Y', errors='coerce')

# Convert ZIPCODE from float to string (preserve leading zeros)
df_copy['ZIPCODE'] = df_copy['ZIPCODE'].astype('Int64').astype(str).replace('<NA>', None)

# Convert CAMIS to string (it's an ID, not a number)
df_copy['CAMIS'] = df_copy['CAMIS'].astype(str)

print("Data types after conversion:")
print(df_copy.dtypes)

Data types after conversion:
CAMIS                            object
DBA                              object
BORO                             object
BUILDING                         object
STREET                           object
ZIPCODE                          object
CUISINE DESCRIPTION              object
INSPECTION DATE          datetime64[ns]
VIOLATION CODE                   object
VIOLATION DESCRIPTION            object
CRITICAL FLAG                    object
SCORE                           float64
GRADE                            object
GRADE DATE               datetime64[ns]
INSPECTION TYPE                  object
dtype: object

# 6. Check Missing Values

In [17]:
# Check missing values
print("Missing values by column:")
print(df_copy.isnull().sum())
print(f"\nTotal rows: {len(df_copy):,}")

# Note: Some missing grades are expected for initial inspections that haven't been graded yet

Missing values by column:
CAMIS                         0
DBA                           0
BORO                          0
BUILDING                    674
STREET                        0
ZIPCODE                    2557
CUISINE DESCRIPTION           0
INSPECTION DATE               0
VIOLATION CODE              553
VIOLATION DESCRIPTION       553
CRITICAL FLAG                 0
SCORE                         0
GRADE                    102485
GRADE DATE               103824
INSPECTION TYPE               0
dtype: int64

Total rows: 217,809

# 7. Data Validation and Cleaning

In [18]:
# Trim whitespace from text columns
text_cols = ['DBA', 'STREET', 'BUILDING', 'CUISINE DESCRIPTION', 'VIOLATION DESCRIPTION']
for col in text_cols:
    if col in df_copy.columns:
        df_copy[col] = df_copy[col].str.strip()

print("\nData cleaning complete!")
print(f"Current shape: {df_copy.shape}")

Data cleaning complete!
Current shape: (217809, 15)

# 8. Check for Duplicates

In [19]:
# Check for duplicate rows
duplicates = df_copy.duplicated().sum()
print(f"Number of duplicate rows: {duplicates:,}")

if duplicates > 0:
    # Remove duplicates, keeping the first occurrence
    before_count = len(df_copy)
    df_copy = df_copy.drop_duplicates()
    print(f"Duplicates removed: {before_count - len(df_copy):,}")
    print(f"Final shape: {df_copy.shape}")
else:
    print("No duplicates found.")

Number of duplicate rows: 6
Duplicates removed: 6
Final shape: (217803, 15)

In [20]:
# Analyze key distributions
print("INSPECTION TYPE DISTRIBUTION:")
print(df_copy['INSPECTION TYPE'].value_counts())

print("\n" + "="*60)
print("GRADE DISTRIBUTION:")
grade_counts = df_copy['GRADE'].value_counts().sort_index()
print(grade_counts)
print(f"\nGrade missing: {df_copy['GRADE'].isna().sum():,} ({df_copy['GRADE'].isna().sum()/len(df_copy)*100:.1f}%)")

print("\n" + "="*60)
print("DATE RANGE:")
print(f"Earliest inspection: {df_copy['INSPECTION DATE'].min()}")
print(f"Latest inspection: {df_copy['INSPECTION DATE'].max()}")

print("\n" + "="*60)
print("TOP 10 CUISINES:")
print(df_copy['CUISINE DESCRIPTION'].value_counts().head(10))

print("\n" + "="*60)
print("BOROUGH DISTRIBUTION:")
print(df_copy['BORO'].value_counts())

INSPECTION TYPE DISTRIBUTION:
INSPECTION TYPE
Cycle Inspection / Initial Inspection              153229
Cycle Inspection / Re-inspection                    60351
Cycle Inspection / Reopening Inspection              2792
Cycle Inspection / Compliance Inspection             1344
Cycle Inspection / Second Compliance Inspection        87
Name: count, dtype: int64

============================================================
GRADE DISTRIBUTION:
GRADE
A    82073
B    15270
C    10823
N     1339
P      745
Z     5074
Name: count, dtype: int64

Grade missing: 102,479 (47.1%)

============================================================
DATE RANGE:
Earliest inspection: 2015-09-24 00:00:00
Latest inspection: 2025-11-03 00:00:00

============================================================
TOP 10 CUISINES:
CUISINE DESCRIPTION
American                    36332
Chinese                     21169
Coffee/Tea                  14161
Pizza                       13494
Latin American              10422
Mexican                      8998
Bakery Products/Desserts     8968
Caribbean                    8488
Italian                      7856
Japanese                     7189
Name: count, dtype: int64

============================================================
BOROUGH DISTRIBUTION:
BORO
Manhattan        79939
Brooklyn         55913
Queens           52998
Bronx            21102
Staten Island     7851
Name: count, dtype: int64

In [ ]:
# Check zero scores - are they legitimate or suspicious?
zero_scores = df_copy[df_copy['SCORE'] == 0]
print(f"Records with SCORE = 0: {len(zero_scores):,}")
print(f"\nGrades for zero scores:")
print(zero_scores['GRADE'].value_counts(dropna=False))
print(f"\nInspection types for zero scores:")
print(zero_scores['INSPECTION TYPE'].value_counts())
print(f"\nSample of zero score records:")
print(zero_scores[['DBA', 'SCORE', 'GRADE', 'INSPECTION DATE', 'INSPECTION TYPE']].head(10))

In [21]:
# Analyze key distributions
print("INSPECTION TYPE DISTRIBUTION:")
print(df_copy['INSPECTION TYPE'].value_counts())

print("\n" + "="*60)
print("GRADE DISTRIBUTION:")
grade_counts = df_copy['GRADE'].value_counts().sort_index()
print(grade_counts)
print(f"\nGrade missing: {df_copy['GRADE'].isna().sum():,} ({df_copy['GRADE'].isna().sum()/len(df_copy)*100:.1f}%)")

print("\n" + "="*60)
print("DATE RANGE:")
print(f"Earliest inspection: {df_copy['INSPECTION DATE'].min()}")
print(f"Latest inspection: {df_copy['INSPECTION DATE'].max()}")

print("\n" + "="*60)
print("TOP 10 CUISINES:")
print(df_copy['CUISINE DESCRIPTION'].value_counts().head(10))

print("\n" + "="*60)
print("BOROUGH DISTRIBUTION:")
print(df_copy['BORO'].value_counts())

INSPECTION TYPE DISTRIBUTION:
INSPECTION TYPE
Cycle Inspection / Initial Inspection              153229
Cycle Inspection / Re-inspection                    60351
Cycle Inspection / Reopening Inspection              2792
Cycle Inspection / Compliance Inspection             1344
Cycle Inspection / Second Compliance Inspection        87
Name: count, dtype: int64

============================================================
GRADE DISTRIBUTION:
GRADE
A    82073
B    15270
C    10823
N     1339
P      745
Z     5074
Name: count, dtype: int64

Grade missing: 102,479 (47.1%)

============================================================
DATE RANGE:
Earliest inspection: 2015-09-24 00:00:00
Latest inspection: 2025-11-03 00:00:00

============================================================
TOP 10 CUISINES:
CUISINE DESCRIPTION
American                    36332
Chinese                     21169
Coffee/Tea                  14161
Pizza                       13494
Latin American              10422
Mexican                      8998
Bakery Products/Desserts     8968
Caribbean                    8488
Italian                      7856
Japanese                     7189
Name: count, dtype: int64

============================================================
BOROUGH DISTRIBUTION:
BORO
Manhattan        79939
Brooklyn         55913
Queens           52998
Bronx            21102
Staten Island     7851
Name: count, dtype: int64

# 10. Export Cleaned Data

In [ ]:
# Final summary
print("=" * 60)
print("FINAL CLEANED DATASET")
print("=" * 60)
print(f"Shape: {df_copy.shape}")
print(f"Columns: {list(df_copy.columns)}")
print(f"\nMissing values:")
missing = df_copy.isnull().sum()
print(missing[missing > 0])

print("\nSample:")
print(df_copy.head(3))

# Export to CSV
output_path = '../data/cleaned_restaurant_inspections.csv'
df_copy.to_csv(output_path, index=False)
print(f"\n✓ Exported to: {output_path}")

df_copy.head()

============================================================
FINAL CLEANED DATASET
============================================================
Shape: (217803, 15)
Columns: ['CAMIS', 'DBA', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'CUISINE DESCRIPTION', 'INSPECTION DATE', 'VIOLATION CODE', 'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'GRADE', 'GRADE DATE', 'INSPECTION TYPE']

Missing values:
BUILDING                    674
ZIPCODE                    2551
VIOLATION CODE              553
VIOLATION DESCRIPTION       553
GRADE                    102479
GRADE DATE               103818
dtype: int64

Sample:
       CAMIS            DBA       BORO BUILDING  \
6   50075461        POPEYES  Manhattan     2300
10  50000919  PANKO EXPRESS   Brooklyn     7802
19  50063129    PUBLIC ARTS  Manhattan      215

                              STREET ZIPCODE CUISINE DESCRIPTION  \
6   ADAM CLAYTON POWELL JR BOULEVARD    None             Chicken
10                  FLATLANDS AVENUE   11236             Chinese
19        CHRYSTIE ST/PUBLIC KITCHEN    None            American

   INSPECTION DATE VIOLATION CODE  \
6       2024-04-30            09B
10      2024-05-03            09B
19      2019-06-24            04A

                                VIOLATION DESCRIPTION CRITICAL FLAG  SCORE  \
6                         Thawing procedure improper.  Not Critical   22.0
10                        Thawing procedure improper.  Not Critical   12.0
19  Food Protection Certificate not held by superv...      Critical   10.0

   GRADE GRADE DATE                        INSPECTION TYPE
6    NaN        NaT  Cycle Inspection / Initial Inspection
10     A 2024-05-03       Cycle Inspection / Re-inspection
19     A 2019-06-24  Cycle Inspection / Initial Inspection

✓ Exported to: ../data/cleaned_restaurant_inspections.csv

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,CUISINE DESCRIPTION,INSPECTION DATE,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,INSPECTION TYPE
6,50075461,POPEYES,Manhattan,2300,ADAM CLAYTON POWELL JR BOULEVARD,None,Chicken,2024-04-30,09B,Thawing procedure improper.,Not Critical,22.0,NaN,NaT,Cycle Inspection / Initial Inspection
10,50000919,PANKO EXPRESS,Brooklyn,7802,FLATLANDS AVENUE,11236,Chinese,2024-05-03,09B,Thawing procedure improper.,Not Critical,12.0,A,2024-05-03,Cycle Inspection / Re-inspection
19,50063129,PUBLIC ARTS,Manhattan,215,CHRYSTIE ST/PUBLIC KITCHEN,None,American,2019-06-24,04A,Food Protection Certificate not held by superv...,Critical,10.0,A,2019-06-24,Cycle Inspection / Initial Inspection
20,50116166,GRAND STREET PIZZA,Manhattan,384,GRAND STREET,10002,Pizza,2023-05-30,NaN,NaN,Not Applicable,0.0,NaN,NaT,Cycle Inspection / Initial Inspection
33,40958170,SOHO HOUSE,Manhattan,2935,9 AVENUE,None,American,2023-04-21,08A,Establishment is not free of harborage or cond...,Not Critical,20.0,NaN,NaT,Cycle Inspection / Initial Inspection